{% extends "base_sistema.html" %}
{% block subtitulo %} AdCenter {% endblock%}
{% block conteudo %}
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box-header">
        <h3 class="box-title">Cadastro de anúncios</h3>
      </div><!-- /.box-header -->
      <div class="box">
        <div class="car">
          {% with messages = get_flashed_messages()%}
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-success">
                  {{message}}                                          
                </div>                                 
                {% endfor %}
             {% endif %}
          {% endwith %}
        </div>      
          <div class="box-body">
            <table id="example" class="display" style="width:100%">
              <thead>
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Título</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Link</th>
                    <th scope="col">Alterar</th>                     
                    <th scope="col">Excluir</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                    <td><a href="{{url_for('ad')}}">1</a></td>
                    <td>Espelho nunca utilizado</td>
                    <td>Espelho que comprei e nunca usei</td>
                    <td><a href="https://www.google.com/search?channel=fs&client=ubuntu-sn&q=espelho">Espelho Nunca Usado</a></td>
                    <td><a href="{{url_for('update_ad')}}"><span class="label label-success"><i class="fa-solid fa-pencil"></i> Alterar</span></a></td>
                    <td><a href="{{url_for('ad')}}"><span class="label label-danger"><i class="fa-solid fa-eraser"></i> Excluir</span></a></td>
                  </tr>
               
                           
              </tbody>
          </table>
          <a href="{{url_for('cad_ad')}}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Inserir anúncio</a>
       </div>      
    </div>        
  </div>
</section>
{% endblock %}
     